@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.hero{
    margin: 30px 10%;
    display: flex;
    justify-content: space-between;
    height: auto;
    
}
.hero-info{
    width: 50%;
}
.hero-info h1{
   font-size: 50px;
   margin: 30px 0;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 900;

   
}
.hero-info span{
    color: #EB5757;
}
.hero-info p{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
 .hero-info button{
    height: 40px;
    width: 80px;
    padding: 10px;
    font-family: n'Noto Sans', sans-serif;
}

#one{
    background-color: #EB5757;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px;
    color: white;

}
#two{
    background-color: white;
    border: none;
    border: 1px solid black; 
    margin-left: 20px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px;
}
.hero-image{
    width: 50%;
}
.hero-image img{
    width: 100%;
}
@media (max-width: 320px) {
    .hero{
        flex-direction: column;
    }
    .hero-info{
        width: 100%;
    }
    .hero-info h1{
        font-size: 22px;
        margin: 10px 0;
}
.hero-info p{
    margin-bottom: 10px;
    font-size: 12px;
}
.hero-info button{
    height: 30px;
    width: 80px;
    padding: 5px;
    margin-bottom: 15px;
    
}
.hero-image{
    width: 100%;
    margin-top: 20px;
}}


@media (max-width: 768px) and (min-width: 321px) {
   
    .hero-info h1{
        font-size: 20px;
        margin: 10px 0;
}
.hero-info p{
    margin-bottom: 20px;
    font-size: 12px;
    width: 300px;
}
.hero-info button{
    height: 30px;
    width: 80px;
    padding: 5px;
  }}


/* olaide's work here */

header {
    padding: 1% 10%;
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    font-size: 1rem;
    font-weight: 900;
}

span {
    color: #EB5757;
    font-size: 2rem;
}

.logo,
a {
    color: #262626;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 10px 14px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.but2 ul li:last-child {
    background: #EB5757;
    border: none;
}

.but2 ul li:last-child a {
    color: #FFFFFF;
}

header nav>div:last-of-type {
    display: none;
}

/* END OF NAV BAR  */



/* flora's work here  */

.why-us {
    margin: 30px 10%;
}

.why-us_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}


.item_1 h3 {
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Source Serif 4', serif;

}

.item_1 img {
    width: 95%;
    height: auto;
    margin-top: 30px;

}


.item_2 h5 {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Noto sans', sans-serif;
    margin-bottom: 40px;
}


.item_2 p {
    font-size: 0.8rem;
    font-family: 'Noto sans', sans-serif;
    line-height: 1.2rem;
    margin-top: 1rem;
}


.item_2 #six {
    color: #eb5757;
    font-size: 1.5rem;
}




/* @media only screen and (max-width: 480px) {
    .why-us_cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .item_1 h3 {
        font-size: 1.3rem;
    }

    .item_2 h5 {
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }

    .item_2 p {
        font-size: 0.8rem;
    }
} */

/* betelhem work here  */

/* ada's work here  */
/* Styling for the Gallery Section here */
.gallery-wrapper {
    display: flex;
    margin: 30px 10%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #FFFFFF;
}

.content {
    line-height: 40px;
    align-self: stretch;
    text-align: center;
}

h1 {
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    color: #262626;
}

.gallery {
    display: flex;
    align-items: flex-start;
    background-color: #F5F5F5;
    gap: 1.3rem;
}


.group-picture {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.group-picture img,
.lone-picture img {
    width: 100%;
}

/* Gallery styling ends */

/* stella's work here  */

/* zainab's work here  */

/* Contact Form */
.contact {
    display: flex;
    height: 35rem;
    margin: 2rem 10%;
}

.contact aside {
    width: 50%;
    /* height: 35rem; */
    /* background: url(/sitting.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.contact aside img {
    width: 100%;
    height: 100%;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    row-gap: 1.5rem;
}

.fhead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fhead h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.fhead p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.fname {
    display: flex;
    column-gap: 0.5rem;
}

.fill {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.fill label {
    font-size: 12px;
}

.fill input {
    padding: 0.4rem;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}

.fill input::placeholder {
    color: #9b9898;
}

textarea {
    background-color: #F5F5F5;
    border: none;
    border-radius: 0.3rem;
    resize: none;
    overflow: auto;
    outline: none;
    padding: 0.5rem;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 27rem;
    color: white;
    font-size: 20px;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.smlinks {
    display: flex;
    column-gap: 2rem;
}

.smlinks img {
    cursor: pointer;
}

/* gloria's work here  */

/* media query  for mobile phones and a bit wider screens */

@media (max-width: 640px) {
    :root {
        font-size: 10px;
    }

    header nav ul {
        display: none;
    }

    header nav>div:last-of-type {
        display: revert;
    }

    /* flora's work here  */

    .why-us_cont {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 50px;
    }

    /* ada's media query  */

    .gallery-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 10%;
        gap: 6px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .lone-picture,
    .group-picture {
        flex: 1 0 0;
        gap: 10px;
    }

    .group-picture img,
    .lone-picture img {
        width: 100%;
        /* height: 70px; */
    }

    /* gallery ends here  */

    /* zainab media query */
    .contact {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        align-items: center;
        height: fit-content;
        row-gap: 1rem;
    }

    .fhead h1 {
        font-size: 2.5rem;
    }

    form {
        display: flex;
        /* justify-content: center; */
        /* width: fit-content; */
    }


    .fname {
        flex-direction: column;
    }


    .submit img,
    .smlinks img {
        width: 1.5rem;
        height: 1.5rem;
    }
}


/* media query for tablets and the mini pc */

@media (max-width: 1024px) and (min-width: 641px) {
    :root {
        font-size: 10px;
    }

    header nav ul {
        display: flex;
        gap: 8px;
    }

    header nav ul li {
        display: inline-block;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 8px;
    }

    header nav ul li a {
        font-size: 8px;
        font-weight: 600;
    }

    /* ada's media query  */

    .gallery-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        gap: 6px;
    }

    .gallery {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .lone-picture,
    .group-picture {
        flex: 1 0 0;
        gap: 10px;
    }

    .group-picture img,
    .lone-picture img {
        width: 100%;
    }

    /* gallery ends here  */

    /* zainab media query */
    .contact {
        display: flex;
        align-items: center;
        height: fit-content;
        row-gap: 1rem;
    }



    .fhead h1 {
        font-size: 2.5rem;
    }

    form {
        display: flex;
        justify-content: center;
        /* width: fit-content; */
    }


    .fname {
        flex-direction: column;
    }

    .submit img,
    .smlinks img {
        width: 1.5rem;
        height: 1.5rem;
    }

}